*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    padding: 15px 0;
    text-align: center;
    background-color: #231651;
    background-image:  linear-gradient(#2e1c6d 1px, transparent 1px), linear-gradient(to right, #2e1c6d 1px, #231651 1px);
    background-size: 30px 30px;
    /* background-color: #231651;           */
    height: 100vh;
}
.title{
    margin: 20px 0;
    color: #4dccbd;
    font-size: 1.2em;
}
.title p{
    font-family: serif;
    font-size: 1.3em;
}
.btn-wrapper{
    height: 70px;
    color:#4dccbd;
}
.btn-wrapper .fa-question-circle{
    margin-top: 7px;
    position: absolute;
    font-size: 1.7em;
    margin-left: 20px;
}
.btn{
    cursor:pointer;
    width: 100px;
    height: 46px;
    border: none;
    border-radius: 3px;
}
.btn-mulai{           
    background-color: aquamarine;
    border-bottom: 6px solid mediumaquamarine ;
}
.btn-reset{
    background-color: #ff8484;
    border-bottom: 6px solid #e45151;
}
.btn-mulai:hover{
    background-color: rgb(0, 255, 170);
    border-bottom: 6px solid rgb(19, 202, 141) ;
}
.btn-reset:hover{
    background-color: #fd5e5e;
    border-bottom: 6px solid #dd3a3a;
}
.btn-mulai:active, .btn-reset:active{
    height: 40px;
    margin-top: 6px;
    border-bottom: none;
}
.btn-disable{
    background-color: gray;
    margin-top: 2px;
    border-bottom: none;
    pointer-events: none;
    cursor: not-allowed;
}
.btn-target{
    position: absolute;
    left: 40%;
    width: 55px;
    height: 46px;
    background-color: rgb(240, 237, 48);
}
.btn-target:hover{
    background-color: rgb(245, 236, 106);
}
.list-lafadz-wrapper{
    display:flex;
    justify-content: center;
}
.list-lafadz{
    padding: 5px;
    background-color: #4390c4;
    border-radius: 3px;
    width: 120px;
    height: 50px;
    margin: 20px 10px;
    font-size: 0.9em;
    color: #231651;
}
.counter-wrapper{
    margin: 20px 0;
    color: #4dccbd;
}
.counter-box{
    background-color: #d6fff6;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    line-height: 100px;
    font-size: 4em;
    border-radius: 10px;
}
.filler{
    font-size: 13px;
    color: #4dccbd;
}
.creator{
    background-color: #4390c4;
    color: #231651;
    line-height: 35px;
    width: 100%;
    height: 35px;
    margin-top: 18px;
    font-size: 1.2em;
}

/* Modal bantuan */
.modal-help{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}
.modal-active{
    visibility: visible;
    opacity: 1;
}
.modal-content{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
}
.modal-header{
    color: #4dccbd;
}
.modal-header .fa-window-close{
    font-size: 1.7em;
    background: transparent;
    color: #ff5050;
    cursor: pointer;
}
.modal-header span{
    position: relative;
    top: 5px;
    left: 230px;
}
.modal-body {
    padding-top: 20px;
    text-align: justify;
    font-size: 0.9em;
}
.modal-body div{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
    font-size: 0.9em;
}
.modal-body th, td{
    padding: 0 10px 10px 10px;
}
        
    